*{
	width: 1100px;
	background-color: green;
}

table{
	border: 1px solid black;
}

th,td{
	border: 1px solid black;
}
.firstcol{
	width: 200px;
}

.middlecol{
	width:600px;
	text-align:justify;
}

.lastcol{
	width: 200px;
}